@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap');

body {
  background-image: url("public/wishlistyBackground.gif");
}

form {
  width: 50%;
  margin-left: 10%;
  font-family: 'Archivo', sans-serif;
  color: black;
}

button {
  background: rgba(224, 23, 23, .3);
  border: none;
  color: black;
  font-family: 'Archivo', sans-serif;
  border-radius: 90px;
}

nav {
  display: inline-block;
  margin-left: 77%;
}

input {
  width: 165%;
  border: black solid 3px;
}

ul {
  list-style-type: none;
  display: inline-block;
}

p {
  color: rgba(0, 0, 0, .5)
}

.mainbox {
  margin: auto;
  margin-top: -40px;
  width: 33%;
  border: dotted black 5px;
  padding: 2vw;
  background: rgba(255, 178, 182, .9);
  border-radius: 25px;
  min-width: 350px;
}

.maintitle {
  font-family: 'Krona One', sans-serif;
  font-size: 8vw;
  padding-top: 2vw;
  margin: auto;
  text-align: center;
  color: black;
}

.viewBox {
  padding: 200px;
  margin-left: 50%;
}

.items-view {
  padding: 20px;
  width: 30vw;
  font-family: 'Archivo', sans-serif;
}

.error-message {
  margin-left: 45%;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  color: red;
}

.add,
.update,
.update2,
.change,
.change2,
.addComm,
.addComm2,
.deleteComm {
  width: 50%;
}

#viewItems {
  margin-left: 40%;
  width: 50vw;
  margin-top: -230px;
  border: dotted black 5px;
  padding: 3vw;
  background: rgba(255, 178, 182, .9);
  border-radius: 25px;
}

#commentBox {
  border-bottom: dashed 4px blue;
}

#index-list {
  margin-top: -90px;
  margin-left: 10%;
}

#mainboxchild {
  background: rgba(205, 83, 52, .4);
}

#addItem, #addComment {
  margin-left: 10%;
}

#updateItem {
  margin-left: 10%;
}

#changePassword {
  margin: auto;
  width: 33%;
  border: dotted black 5px;
  padding: 2vw;
  background: rgba(255, 178, 182, .9);
  border-radius: 25px;
  align-items: center;
}

#changePass-success,
#signout-success,
#item-add-message,
#item-update-message,
#signUp-success,
#signIn-success,
#item-delete-message {
  text-align: center;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  color: red;
}
